<section class="section padd-box">
    <h2 class="title-lg text-upper">Licenses & Certificates</h2>
    <div class="padd-box-sm clear-mrg">
        <div class="ref-box brd-btm hreview" *ngFor="let certificate of certificates; let i = index">
            <div>
                <ng-template [ngIf]="isEnabled()">
                    <strong hover-class="highlight" class="progress-title" (click)="removeExistingExperience(i)" style="text-align: right;">Remove</strong>
                </ng-template>
            </div>
            <div class="ref-author">
                <app-live-edit-input value={{certificate.title}} (onSave)="updateTitle($event, i)">
                </app-live-edit-input>
                <app-live-edit-input value={{certificate.issuedBy}} (onSave)="updateIssuedBy($event, i)">
                </app-live-edit-input>
            </div>
        </div>
        <div class="ref-box brd-btm hreview" *ngFor="let certificate of add; let i = index">
            <div class="ref-info">
                <div class="ref-author">
                    <app-live-edit-input placeholder="Certification title" value={{certificate.title}} (onSave)="addTitle($event, i)"></app-live-edit-input>
                    <app-live-edit-input placeholder="Issued by" value={{certificate.issuedBy}} (onSave)="addIssuedBy($event, i)"></app-live-edit-input>
                </div>
            </div>
        </div>
        <p *ngIf="!certificates?.length || 0 && !add.length">
            No certifications are added
        </p>
    </div>
    <ng-template [ngIf]="isEnabled()">
        <input class="btn btn-primary btn-sm" type="submit" value="Add Certificate" (click)="addNewCertificate()" style="display: table;margin-left: auto;margin-right: auto;">
        <div style="display: inline-flex;">
            <!-- remove *ngIf -->
            <div *ngIf="add.length ||  update.length || delete.length" (click)="decline()" class="form-submit form-item-wrap" (click)="decline()">
                <input class="btn btn-primary btn-lg" type="submit" value="Cancel">
            </div>
            <div class="form-submit form-item-wrap">
                <input class="btn btn-primary btn-lg" type="submit" value="Save" *ngIf="isSave()" (click)="saveNewCertificates()">
            </div>
        </div>
    </ng-template>
</section>