<div id="crt-container" class="crt-container">
    <div class="crt-container-sm">
        <div id="about" class="crt-paper-layers crt-animate">
        </div>
        <div id="contact" class="crt-paper-layers crt-animate">
            <div class="crt-paper clearfix">
                <div class="crt-paper-cont paper-padd clear-mrg">
                    <div class="padd-box">
                        <h2 class="title-lg text-upper">Log In</h2>

                        <div class="padd-box-sm">
                            <form action="#" method="post" class="contact-form">
                                <div class="form-group">
                                    <label class="form-label" for="email">User name</label>
                                    <div class="form-item-wrap">
                                        <input [(ngModel)]="username" [value]="username" name="email" class="form-item" type="email" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="url">Password</label>
                                    <div class="form-item-wrap">
                                        <input [(ngModel)]="password" [value]="password" name="password" class="form-item" type="url" />
                                    </div>
                                </div>
                                <div class="form-submit form-item-wrap">
                                    <input class="btn btn-primary btn-lg" type="submit" value="Log In" (click)="logIn()" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>