<div class="crt-wrapper">
    <header id="crt-header">
        <div class="crt-head-inner crt-container">
        </div>
        <nav id="crt-nav-sm" class="crt-nav hidden-lg hidden-md">
            <ul class="clear-list">
                <li>
                    <!-- <a href="index.php#about" data-tooltip="Home"><img class="avatar avatar-42" src="assets/images/uploads/avatar/avatar-42x42.png" srcset="assets/images/uploads/avatar/avatar-84x84-2x.png 2x" alt=""></a> -->
                </li>
                <li>
                    <a href="index.php#experience" data-tooltip="Experience"><span
                class="crt-icon crt-icon-experience"></span></a>
                </li>
                <li>
                    <a href="index.php#portfolio" data-tooltip="Portfolio"><span class="crt-icon crt-icon-portfolio"></span></a>
                </li>
                <li>
                    <a href="index.php#references" data-tooltip="References"><span
                class="crt-icon crt-icon-references"></span></a>
                </li>
                <li>
                    <a href="index.php#contact" data-tooltip="Contact"><span class="crt-icon crt-icon-contact"></span></a>
                </li>
                <li>
                    <a href="category.php" data-tooltip="Blog"><span class="crt-icon crt-icon-blog"></span></a>
                </li>
            </ul>
        </nav>
    </header>

    <router-outlet></router-outlet>

    <footer id="crt-footer" class="crt-container-lg">
        <div class="crt-container">
            <div class="crt-container-sm clear-mrg text-center">
            </div>
        </div>

    </footer>

    <svg id="crt-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758">
      <polygon class="pol" points="0,455,693,352,173,0,92,0,0,71" />
    </svg>
    <svg id="crt-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633">
      <polygon points="0,0,633,0,633,536" />
    </svg>
</div>


<!-- <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.12.4.min.js"><\/script>')
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiwY_5J2Bkv2UgSeJa4NOKl6WUezSS9XA"></script>
<script type="text/javascript" src="plugins.min.js"></script>
<script type="text/javascript" src="theme.min.js"></script> -->