<section class="section padd-box brd-btms">
    <h2 class="title-lg text-upper">Education</h2>
    <div class="education">
        <div class="education-box" *ngFor="let education of educations; let i = index">
            <div class="education-date" style="display: flex;">
                <div class="date-block" contenteditable (input)="updateStartDate($event, i)">{{education.from}}</div>
                <div>
                    &nbsp;-&nbsp;
                </div>
                <div class="date-block" contenteditable (input)="updateEndDate($event, i)">{{education.to}}</div>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <h3>
                    <app-live-edit-input value={{education.university}} (onSave)="updateUniversity($event, i)">
                    </app-live-edit-input>
                </h3>
                <ng-template [ngIf]="isEnabled()">
                    <strong hover-class="highlight" class="progress-title" (click)="removeExistingExperience(i)">Remove</strong>
                </ng-template>
            </div>
            <span class="education-company">
                <app-live-edit-input value={{education.degree}} (onSave)="updateDegree($event, i)">
                </app-live-edit-input>
            </span>
            <p>
                <app-live-edit-textarea value={{education.specialization}} (onSave)="updateSpecialization($event, i)">
                </app-live-edit-textarea>
            </p>
        </div>
        <p *ngIf="!educations.length && !newEducations.length">
            No education are added
        </p>
    </div>
    <div class="education">
        <div class="education-box" *ngFor="let education of newEducations; let i = index ">
            <div class="education-date" style="display: flex;">
                <div class="date-block" contenteditable (input)="addStartDate($event, i)">{{education.from}}</div>
                <div>
                    &nbsp;-&nbsp;
                </div>
                <div class="date-block" contenteditable (input)="addEndDate($event, i)">{{education.to}}</div>
            </div>
            <h3>
                <app-live-edit-input placeholder="university" value={{education.university}} (onSave)="addUniversity($event, i)"></app-live-edit-input>
            </h3>
            <span class="education-company">
                <app-live-edit-input placeholder="Company" value={{education.degree}} (onSave)="addDegree($event, i)">
                </app-live-edit-input>
            </span>
            <p>
                <app-live-edit-textarea placeholder="Description" value={{education.specialization}} (onSave)="addSpecialization($event, i)"></app-live-edit-textarea>
            </p>
        </div>
    </div>
    <ng-template [ngIf]="isEnabled()">
        <input class="btn btn-primary btn-sm" type="submit" value="Add Education" (click)="addNewEducation()" style="display: table;margin-left: auto;margin-right: auto;">
        <div style="display: inline-flex;">
            <!-- remove *ngIf -->
            <div *ngIf="newEducations.length ||  educationsToUpdate.length || educationsToDelete.length" (click)="decline()" class="form-submit form-item-wrap" (click)="decline()">
                <input class="btn btn-primary btn-sm" type="submit" value="Cancel">
            </div>
            <div class="form-submit form-item-wrap">
                <input class="btn btn-primary btn-sm" type="submit" value="Save" *ngIf="isSave()" (click)="saveNewEducations()">
            </div>
        </div>
    </ng-template>
</section>